@import "../../../styles/variables.scss";
@import "../../../styles/mixins";
.tuition-information {
  &_row {
    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #161617;
    }
    input {
      border: 1px solid $gray_blur_color !important;
    }
    .ant-row {
      .ant-col-14 {
        max-width: 100%;
      }
    }
    .form__select {
      .ant-form-item {
        .ant-row {
          width: 100% !important;
          .ant-col-14 {
            max-width: 100% !important;
            .ant-select-selector {
              border: 1px solid $gray_blur_color !important;
            }
          }
        }
      }
    }
    &-qr{
      display: flex;
      justify-content: center;
    }
  }

  &_underLine {
    border-bottom: 1px solid $gray_blur_color;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  &_content {
    padding: 88px 32px 24px 32px;
    &-form {
      .ant-table-container {
        border: 1px solid $gray_blur_color;
        overflow: hidden;
        border-bottom: none !important;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        @include sm {
          max-width: 1800px !important;
          border: 1px solid $gray_blur_color;
        }
        .ant-table-content {
          border: none !important;
          .ant-table-thead {
            .ant-table-cell {
              border-bottom: 1px solid $gray_blur_color;
              font-family: Open Sans;
              font-size: 14px;
              font-weight: 600;
              line-height: 22px;
              text-align: left;
              color: #3b82f6;
              background-color: $empty_avatar_color !important;
              .ant-table-filter-column {
                .ant-table-filter-trigger {
                  svg {
                    width: 16px;
                    height: 16px;
                    color: $primary_color;
                  }
                }
              }

              &:first-child {
                .ant-table-selection {
                  padding-left: 3px;
                }
                &::after {
                  display: none !important;
                }
              }
              &:last-child::after {
                display: none !important;
              }
            }
          }
          .ant-table-tbody {
            .ant-table-cell {
              border-bottom: 1px solid $gray_blur_color;
              vertical-align: middle !important;
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                color: #343434;
                margin-bottom: 0 !important;
              }
            }
          }
        }
      }
    }
    .custom-pagination {
      margin-bottom: 24px;
      height: 36px;
      border-top: none !important;
      border: 1px solid $gray_blur_color;
    }
  }
}
@media print {
  * {
    color: black !important;
    background: none !important;
    -webkit-print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  .tuition-information {
    &_row {
      &-label {
        color: black !important;
      }
      .ant-row {
        .ant-col-14 {
          background-color: white !important;
        }
      }
      .form__select {
        .ant-form-item {
          .ant-row {
            .ant-col-14 {
              .ant-select-selector {
                background-color: white !important;
              }
            }
          }
        }
      }
    }
    &_content {
      &-form {
        .ant-table-container {
          .ant-table-content {
            .ant-table-thead {
              .ant-table-cell {
                color: black !important;
                background-color: white !important;
              }
            }
            .ant-table-tbody {
              .ant-table-cell {
                color: black !important;
              }
            }
          }
        }
      }
    }
  }
}
