@import '../../styles/variables.scss';
.logo-form {
  &__container {
    width: 324px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #000000;
    margin-bottom: 24px;
    font-family: $font_primary !important;
  }
}
