@import "../../styles/mixins";
@import "../../styles/variables.scss";
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  &_form {
    width: 540px;
    height: fit-content;
    border-radius: 20px;
    margin-top: 24px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    @include sm {
      margin-top: 0;
      width: 100%;
      box-shadow: none !important;
    }
    &-wrap {
      padding: 32px 58px 32px 58px;
      @include sm {
        padding-top: 0;
        padding: 24px;
      }
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-content {
        color: #007bff;
        width: 390px;
        height: 48px;
        font-family: Open Sans;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        margin: 0px !important;
      }
    }
    &-password {
      &-title {
        position: relative;
        &-forgot {
          position: absolute;
          right: 0;
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
          color: #007bff;
          cursor: pointer;
        }
      }
    }
    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      margin: 0px !important;
      margin-top: 32px !important;
    }
    &-input {
      input {
        width: 424px;
        height: 48px;
        padding: 12px 203px 12px 20px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        @include sm {
          width: 100%;
        }
      }
      .ant-input-affix-wrapper {
        width: 424px;
        height: 48px;
        padding: 12px 203px 12px 20px;
        gap: 0px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        input {
          margin: 0 !important;
        }
      }
    }

    &-login {
      margin-top: 32px;
      border-radius: 8px;

      &-button {
        background: #007bff !important;
        border: #007bff !important;
        width: 424px;
        height: 48px;
        @include sm {
          width: 100%;
        }
        span {
          color: #ffffff !important;
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    &-privacy {
      width: 424px;
      height: 48px;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #343434;
      margin-top: 32px;
      margin-bottom: 0px !important;
      @include sm {
        width: 100%;
      }
    }
    &-checkbox {
      margin-top: 24px;
      .form__checkbox-title {
        color: #646464 !important;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
      }
    }
    &-signIn {
      margin-top: 64px;
      border-radius: 8px;
      &-button {
        width: 424px;
        height: 48px;
        background-color: #ffffff !important;
        border: 1px solid #eef0f4 !important;
        box-shadow: -2px 2px 20px 0px #0000001f;
        @include sm {
          width: 100%;
        }
        span {
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: #343434 !important;
        }
      }
    }
  }
  #loginVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
