.notification {
  &_label {
    position: absolute;
    right: -100%; // Start off-screen
    top: 10px;
    width: fit-content;
    height: 60px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    animation: slide-in 0.5s forwards; // Add animation

    &.closing {
      animation: slide-out 0.5s forwards; // Add closing animation
    }

    &-button {
      border: none !important;
      padding: 5px;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: white;
        }
      }
    }
  }
}

@keyframes slide-in {
  from {
    right: -100%; 
  }
  to {
    right: 20px; // End position
  }
}

@keyframes slide-out {
  from {
    right: 20px; 
  }
  to {
    right: -100%; 
  }
}
