.notification-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999 !important;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%);
  opacity: 0;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-popup.show {
  transform: translateX(0);
  opacity: 1;
}

.notification-popup.hide {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.notification-popup.success {
  background-color: #28a745;
}

.notification-popup.error {
  background-color: #ff0019;
}
