.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_image{
            width: 324px !important;
            height: 140px !important;
        }
        &_title{            
            font-family: Open Sans;
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            text-align: center;
            margin: 0px !important;
            margin-top: 16px !important;


        }

    }
    &_form{
        width: 540px;
        height: 470px;
        
        border-radius: 20px ;
           
        margin-top: 24px;
    
        box-shadow: -2px 2px 20px 0px #0000001F;
        
        &-wrap{
            padding: 32px 58px 32px 58px;
        }
        &-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-content{
                color: #3B82F6;
                width: 288px;
                height: 48px;               
                //styleName: SemiBold/36;
                font-family: Open Sans;
                font-size: 36px;
                font-weight: 600;
                line-height: 48px;
                text-align: center;
                margin: 0px !important;

            }
        }
        &-email{
                       
           
            &-label{
                //styleName: SemiBold/14;
                
                gap: 0px;
                
                font-family: Open Sans;
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                text-align: left;
                margin: 0px !important;
                margin-top: 48px !important;


            }
            &-input{
                width: 424px;
                height: 48px;
                padding: 12px 203px 12px 20px;
                gap: 0px;
                border-radius: 8px ;
                border: 1px 0px 0px 0px;
                opacity: 0px;
                margin-top: 8px;
                border: 1px solid #C7C7C7

            }

        }
        &-signin{
            margin-top: 64px;                  
            border-radius: 8px ;
            
            &-btn{
               

                //styleName: Bold/16;
                width: 424px;
                height: 48px;
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                background-color: #3B82F6;
                color: #ffffff;



               
            }


        }
        // &-pw{
        //     margin-top: 20px;
        //     width: Hug (424px)px;
        //     height: Hug (78px)px;
        //     top: 210px;
        //     left: 58px;
        //     gap: 8px;
        //     opacity: 0px;
        //     &-min{
        //         font-family: Open Sans;
        //         font-size: 14px;
        //         font-weight: 600;
        //         line-height: 22px;
        //         display: flex;
                
                
        //         position: relative;
        //         &-label{
        //             font-family: Open Sans;
        //             font-size: 14px;
        //             font-weight: 400;
        //             line-height: 22px;
        //             text-align: left;
                    
    
    
        //         }
        //         &-a{
        //             color: #3B82F6;
        //             position: absolute;
        //             right: 0px;
    
        //         }
    
        //     }
            
        // }
        &-login{
            margin-top: 32px;                  
            border-radius: 8px ;
            
            &-btn{
                background: #3B82F6;
                color: #FFFFFF;

                //styleName: Bold/16;
                width: 424px;
                height: 48px;
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;



               
            }


        }
        &-p1{
            width: 424px;
            height: 48px;
            //styleName: Regular/16;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #343434;
            margin-top: 32px;

        }
        &-hr{
            margin-top: 24px;
            // border: 1px solid;
            
            border: none;
            height: 1px;
            background: linear-gradient(to right, transparent, #ccc, transparent);
            margin: 20px 0;

            




        }
        &-p2{
            margin-top: 24px;
            
            height: 24px;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #343434;



        }


    }
}