@import "../../styles/variables.scss";
@import "../../styles/mixins";
.student-information {
  display: flex;
  justify-content: center;
  &_form {
    width: 960px;
    height: fit-content;
    padding: 32px 52px 32px 52px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    background: #ffffff;
    margin-top: 32px;
    border-radius: 24px;
    @include sm {
      width: 100%;
      box-shadow: none !important;
    }
    &-header {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
      color: #231f20;
    }
    &-title {
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: #646464;
    }
    &-name {
      color: black;
      font-size: 14px;
      font-weight: 400;
    }
    &-edit {
      background-color: $primary_color;
      color: $white_color;
      font-weight: 600;
      font-size: 16px;
      @include sm {
        margin-bottom: 12px !important;
      }
    }
    &-delete {
      background-color: red;
      color: white;
      font-weight: 600;
      @include sm {
        margin: 0px 5px 0px 5px !important;
      }
    }
    &-editTable {
      background-color: rgb(0, 217, 255);
      color: white;
      font-weight: 600;
      @include sm {
        margin: 0px 5px 0px 5px !important;
      }
    }
    &-add {
      background-color: greenyellow;
      color: white;
      font-weight: 600;
      @include sm {
        margin: 0px 5px 0px 5px !important;
      }
    }
    &-save {
      background-color: $primary_color;
      color: white;
      font-weight: 600;
      @include sm {
        margin: 24px 0px 0px 5px !important;
      }
    }
    &-print {
      font-weight: 600;
      color: white;
      font-size: 16px;
      background-color: orange;
    }
  }
  &_title {
    color: #161617;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
  }
  &_underLine {
    border-bottom: 1px solid $gray_blur_color;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  &_noData {
    font-size: 14px;
    font-weight: 400;
    color: $primary_color;
    text-decoration: underline !important;
  }
  &_row {
    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #161617;
    }
    .form__input {
      .ant-row {
        width: 100% !important;
        .ant-col-14 {
          max-width: 100% !important;
          input {
            border: 1px solid $gray_blur_color;
          }
        }
      }
    }
    &-modal {
      .form__input {
        .ant-row {
          width: 100% !important;
          .ant-col-14 {
            max-width: 100% !important;
            input {
              border: 1px solid $gray_blur_color;
            }
          }
        }
      }
    }
    .form__select {
      .ant-form-item {
        .ant-row {
          width: 100% !important;
          .ant-col-14 {
            max-width: 100% !important;
            .ant-select-selector {
              border: 1px solid $gray_blur_color !important;
            }
          }
        }
      }
    }
    &:last-child {
      .ant-row {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 32px;
        @include sm{
          margin-top: 0px;
        }
        .ant-col {
          display: flex;
          flex-direction: row-reverse;
          .ant-btn {
            width: 120px;
            margin: 0px 10px 0px 10px;
          }
        }
      }
    }
    .ant-row {
      position: relative;
      .footer {
        position: absolute;
        right: 10px;
        &_row {
          .ant-row {
            width: 430px !important;
            @include sm {
              display: flex;
              flex-direction: column-reverse;
              align-items: flex-end;
            }
            .ant-col {
              display: flex;
              flex-direction: row-reverse;
              .ant-btn {
                width: 120px;
                margin: 0px 10px 0px 10px !important;
              }
            }
          }
        }
      }
    }
  }
  &_data {
    &-studentAction {
      margin-bottom: 0 !important;
      font-weight: 600;
      height: fit-content;
      width: 120px;
      padding: 7px;
      border: 1px solid $gray_blur_color;
    }
  }
  &_table {
    border: 1px solid $gray_blur_color;
    overflow: hidden;
    border-bottom: none !important;
    @include sm{
      margin-bottom: 12px;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    @include sm {
      max-width: 1800px !important;
    }
    .ant-table-content {
      border: none !important;
      .ant-table-thead {
        .ant-table-cell {
          border-bottom: 1px solid $gray_blur_color;
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          text-align: left;
          color: #3b82f6;
          background-color: $empty_avatar_color !important;
          &::after {
            display: inline-flex;
            float: right;
            content: "" !important;
            width: 1px !important;
            height: 1.6em !important;
            background-color: $disable_color !important;
          }
          &:last-child::after {
            display: none !important;
          }
        }
      }
      .ant-table-tbody {
        .ant-table-cell {
          border-bottom: 1px solid $gray_blur_color;
          vertical-align: middle !important;
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: #343434;
            margin-bottom: 0 !important;
          }
          .delete {
            min-width: 120px;
            background-color: red;
            color: white;
            font-weight: 600;
          }
          .edit {
            min-width: 120px;
            background-color: greenyellow;
            color: white;
            font-weight: 600;
          }
        }
      }
    }
    .custom-pagination {
      height: 36px;
      border-bottom: 1px solid $gray_blur_color;
    }
    &-edit {
      .m-b-48 {
        .ant-row {
          .between_row {
            @include sm {
              display: flex;
              flex-direction: column-reverse;
              width: 100% !important;
              min-width: 300px !important;
              align-items: flex-end;
            }
            .option {
              display: flex;
              flex-direction: row-reverse;
            }
          }
        }
      }
    }
  }
  &_modal {
    &-addSubject {
      width: fit-content !important;
      height: fit-content !important;

      .ant-modal-content {
        min-width: 700px !important;
        padding: 32px;
        @include sm {
          width: 100% !important;
          min-width: 0px !important;
        }
      }
    }
    &-add {
      width: fit-content !important;
      height: fit-content !important;
      .ant-modal-content {
        min-width: 700px !important;
        padding: 32px;
        @include sm {
          width: 100% !important;
          min-width: 0px !important;
        }
      }
    }
    &-delete {
      width: fit-content !important;
      height: fit-content !important;
      .ant-modal-content {
        min-width: 700px !important;
        padding: 32px;
        @include sm {
          width: 100% !important;
          min-width: 0px !important;
        }
      }
    }
    &-edit {
      width: fit-content !important;
      height: fit-content !important;
      .ant-modal-content {
        min-width: 700px !important;
        padding: 32px;
        @include sm {
          width: 100% !important;
          min-width: 0px !important;
        }
      }
    }
  }
}
.ant-modal-content {
  .ant-modal-body {
    h1 {
      font-weight: 600 !important;
    }
  }
  .ant-modal-footer {
    .ant-btn {
      width: fit-content !important;
      min-width: 140px;
      height: 40px;
      padding: 15px;
      span {
        font-size: 14px;
        font-weight: 600;
      }
      &-default {
        border: 1px solid $gray_blur_color !important;
      }
    }
  }
}
