.forgot-password {
  &_label {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #161617;
    margin-bottom: 8px !important;
  }
  &_title {
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #007BFF;
    margin-bottom: 12px;
  }
  &_sub {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #646464;
    margin-bottom: 32px;
  }
  &_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 540px;
      height: 478px;
      padding: 78px 58px 24px 58px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: -2px 2px 20px 0px #0000001f !important;
    }
    &-input {
      width: 100%;
      &-confirm {
        .ant-form-item-control {
          min-width: 100%;
        }
      }
    }
    &-button {
      .ant-btn {
        width: 424px;
        height: 48px;
        padding: 12px 0px 12px 0px;
        border-radius: 8px;
        background-color: #007BFF !important;
        span {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: white !important ;
        }
      }
    }
    &-link {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #007BFF;
      margin-top: 16px;
    }
  }
  &_code {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 540px;
      height: 478px;
      padding: 78px 58px 24px 58px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: -2px 2px 20px 0px #0000001f !important;
    }
    &-input {
      width: 100%;
      height: fit-content;
      &-confirm {
        .ant-form-item-control {
          min-width: 100%;
        }
      }
    }
    &-button {
      .ant-btn {
        width: 424px;
        height: 48px;
        padding: 12px 0px 12px 0px;
        border-radius: 8px;
        background-color: #007BFF !important;
        span {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: white !important ;
        }
      }
    }
    &-link {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #007BFF;
      margin-bottom: 48px;
      a {
        text-decoration: none;
      }
    }
  }
  &_edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 540px;
      height: fit-content;
      padding: 78px 58px 48px 58px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: -2px 2px 20px 0px #0000001f !important;
    }
    &-input {
      width: 100%;
      height: fit-content;
      &-confirm {
        .ant-form-item-control {
          min-width: 100%;
        }
      }
    }
    &-button {
      margin-top: 21px;
      .ant-btn {
        width: 424px;
        height: 48px;
        padding: 12px 0px 12px 0px;
        border-radius: 8px;
        background-color: #007BFF !important;
        span {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: white !important ;
        }
      }
    }
  }
  &_sucess {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    &-title {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      color: #007BFF;
      margin-top: 32px;
      margin-bottom: 44px;
    }
    &-reset {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 540px;
      height: 478px;
      padding: 78px 58px 24px 58px;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: -2px 2px 20px 0px #0000001f !important;
      &-button {
        .ant-btn {
          width: 424px;
          height: 48px;
          padding: 12px 0px 12px 0px;
          border-radius: 8px;
          background-color: #007BFF !important;
          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            color: white !important ;
          }
        }
      }
    }
  }
}
