.cart {
  padding: 50px 120px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100% !important;
  &-label {
    display: flex;
    flex-direction: column;
    padding: 45px 45px;
    align-items: center;
    row-gap: 32px !important;
    &-title {
      font-family: "Roboto", sans-serif;
      font-size: 34px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      letter-spacing: 1.2px;
      text-transform: uppercase;
      background: linear-gradient(
        135deg,
        #09011d 0%,
        #1a3f8b 50%,
        #2774f9 100%
      );
      padding: 15px 30px;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(
          135deg,
          #2774f9 0%,
          #1a3f8b 50%,
          #09011d 100%
        );
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
    .ant-btn {
      border: 1px solid black !important;
      font-weight: bold;
      color: black !important;
    }
  }
  &_header {
    &-title {
      font-family: "Roboto", sans-serif;
      font-size: 34px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      letter-spacing: 1.2px;
      text-transform: uppercase;
      background: linear-gradient(
        135deg,
        #09011d 0%,
        #1a3f8b 50%,
        #2774f9 100%
      );
      padding: 15px 30px;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(
          135deg,
          #2774f9 0%,
          #1a3f8b 50%,
          #09011d 100%
        );
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &-product {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 32px 32px;
    &_row {
      display: flex;
      justify-content: center;
      margin: 32px 0px;
      align-items: center;
    }
    &_image {
      margin-right: 120px;
      margin-left: 32px;
      img {
        max-width: 358px !important;
        max-height: 358px !important;
      }
    }
    &_information {
      .ant-col-6 {
        font-size: 16px;
        font-weight: bold;
        font-family: Verdana;
      }
      .ant-col-12 {
        font-size: 14px;
        font-weight: 500;
        font-family: Verdana;
      }
      .ant-row {
        margin: 8px 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
  &-option {
    margin-top: 32px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 45px 45px;
    .ant-row {
      display: flex;
      align-items: center;
      .ant-form-item {
        margin-bottom: 0px !important;
      }
    }
    &_text {
      font-size: 24px;
      font-weight: 600;
      color: red !important;
    }
    &_button {
      &-submit {
        width: 150px;
        height: 50px;
        background-color: red !important;
        margin-left: 140px;
        border: 1px solid red !important;
        span {
          font-size: 18px;
          font-weight: 600;
          color: white !important;
        }
      }
    }
  }
  .underline {
    border: 1px solid #001529 !important;
  }
}
