$primary_color: #3b82f6;
$primary_color-blur: rgba(59, 130, 246, 0.4);
$primary_color-strong-blur: rgba(59, 130, 246, 0.16);
$primary_color-strong-blur2: rgba(59, 130, 246, 0.12);

$text_primary_color: #000000;
$text_secondary_color: #161617;
$text_tertiary_color: #63656f;

$orange_color: #ff9e15;
$success_color: #1d9d32;
$black_color: #000000;
$gray_color: #231f20;
$black_color_blur: rgba(0, 0, 0, 0.12);
$text_header_modal_color: #1a1a1a;
$white_color: #ffffff;
$off_white_color: #f9fafb;
$mint_green_color: #edf2e5;
$light_grayish_blue_color: #eef0f4;
$bg_select: #f1f3f6;
$border_color: #dcdcdc;
$border_error_color: #ff4d4f;
$empty_avatar_color: #d9d9d9;
$border_light_orange: rgba(255, 158, 21, 0.12);
$border_color_blur: rgba(220, 220, 220, 1);
$color_light_gray: rgba(0, 0, 0, 0.25);
$gray_blur_color: #63656f;
$dim_gray_color: #646464;
$text_checkbox_color: #343434;
$text_title_color: #161617;
$error_color: #eb4c3b;
$disable_color: #858792;
$disable_input_color: #f4f6f6;
$border_checkbox_color: #858792;
$background_header_color: #f1f3f6;
$background_header_color_shipments: #f5f6f8;
$sort_table_color: #f8944d;
$select_status_color: #63656f;
$shipmentcard_background_color: #3b82f61f;
$shipment_long_button: #c7c7c7;
$shipment_sub_title: #797b88;

$password_box_shadow: #0000001f;
$silver_color: #c7c7c7;
$olive_green_color: #538000;
$noti_color: #eb27251f;
$rhino_gray: #797b88;
$red_border_color: #eb2725;

// Define font variables
$font_primary: 'Open Sans';
