@import '../../../styles/variables';

.form__input-search {
  margin-bottom: 20px;
  height: 30px;

  .ant-input {
    height: 28px;
    border-radius: 8px;
    border: 1px solid $border_color;
    font-size: 14px;
    color: $text_title_color !important;

    &:active,
    &:hover {
      box-shadow: unset;
    }

    &:focus {
      box-shadow: unset;
    }

    &::placeholder {
      color: $gray_blur_color !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .ant-form-item-control-input-content {
    height: 30px;
  }

  .ant-form-item-control-input {
    height: 30px;
  }

  .ant-form-item-label {
    width: 100%;
    height: 30px !important;

    label {
      color: $text_title_color;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 600;
      display: flex;
      float: left;
      width: 100%;
    }
  }

  .ant-form-item-has-error {
    .ant-input-status-error {
      outline: none !important;
    }
  }

  .ant-form-item-required {
    flex-direction: row-reverse;
    margin-left: -10px !important;

    &::before {
      margin-right: 0;
      margin-left: 5px;
    }

    &::after {
      position: unset !important;
      content: '' !important;
    }
  }

  .ant-input-affix-wrapper {
    box-shadow: unset !important;
    padding: 0 15px !important;
    border-radius: 4px;
  }

  .ant-input-password {
    height: 48px;
    padding: 0 12px 0 0;
    border-radius: 8px;
    border: 1px solid $border_color;

    &:hover {
      //border-color: $gray-color;
    }

    .ant-input {
      height: 100% !important;
      border-radius: 8px;
      color: #858792;
      font-size: 16px;

      &:focus,
      &:active,
      &:hover {
        box-shadow: unset;
      }

      &::placeholder {
        color: #858792 !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .ant-input.ant-input-borderless {
    border: none;
  }

  .ant-input-outlined {
    border: 1px solid $border_checkbox_color;
  }
  &-read-only {
    .ant-input {
      color: #858792 !important;

      &::placeholder {
        color: #858792 !important;
      }
    }

    .ant-input-password {
      color: #858792 !important;
      border-color: #858792 !important;

      &::placeholder {
        color: #858792 !important;
      }
    }

    .ant-form-item-label {
      color: #161617 !important;

      label {
        color: #161617 !important;
      }
    }
  }
}
