@import "../../../styles/variables.scss";

.product-list-container {
  padding: 20px;
  background-color: #fff;
}

.product-list-header {
  text-align: center;
  margin-bottom: 10px;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.product-list-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-actions,
.right-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-actions {
  flex: 1;
  justify-content: flex-start;
}

.right-actions {
  flex: 1;
  justify-content: flex-end;
}

.btn-create,
.btn-refresh,
.btn-search {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}


.btn-search {
  background-color: #1677ff; 
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0958d9;
  }

  .anticon { 
    font-size: 16px;
  }
}

.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  width: 25%;
}

.product-list {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
}

.product-list th {
  background-color: #f1f1f1;
}

.product-list tr {
  width: 100%;
}

.product-item:hover {
  background-color: #f9f9f9;
}


