.signin3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_image {
    width: 324px !important;
    height: 140px !important;
  }
  &_title {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin: 0px !important;
    margin-top: 16px !important;
  }
  &_form {
    width: 540px;
    height: 760px;
    border-radius: 20px;
    margin-top: 24px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    &-wrap {
      padding: 32px 58px 32px 58px;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-content {
        color: #3b82f6;
        width: 288px;
        height: 48px;
        font-family: Open Sans;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        margin: 0px !important;
      }
    }
    &-name {
      margin-top: 32px;
      &-label {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 0px;
      }
      &-input {
        height: 48px;
        padding: 12px 12px 12px 20px;
        gap: 0px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        &::placeholder {
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #858792;
        }
      }
    }
    &-email {
      &-label {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        margin: 0px !important;
        margin-top: 20px !important;
      }
      &-input {
        padding: 12px 12px 12px 20px;
        border-radius: 8px;
        border: 1px;
        background: #f1f3f6;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        &::placeholder {
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #858792;
        }
      }
    }
    &-pw {
      &-label {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        margin: 0px !important;
        margin-top: 20px !important;
      }
      &-input {
        width: 424px;
        height: 48px;
        padding: 12px 12px 12px 20px;
        gap: 0px;
        border-radius: 8px;
        border: 1px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        &::placeholder {
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #858792;
        }
      }
      &-label2 {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #646464;
        margin-top: 4px;
        margin-bottom: 0px;
      }
    }
    &-repw {
      &-label {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        margin: 0px !important;
        margin-top: 20px !important;
      }
      &-input {
        width: 424px;
        height: 48px;
        padding: 12px 12px 12px 20px;
        border-radius: 8px;
        border: 1px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
      }
    }
    &-login {
      margin-top: 32px;
      border-radius: 8px;
      &-btn {
        background: #3b82f6;
        color: #ffffff;
        width: 424px;
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
      }
    }
    &-p1 {
      margin-top: 32px;
      margin-bottom: 0px;
    }
    &-hr {
      margin-top: 24px;
      margin-bottom: 0px;
      border: none;
      height: 1px;
      background: linear-gradient(to right, transparent, #ccc, transparent);
      margin: 20px 0;
    }
    &-p2 {
      margin-top: 24px;
    }
  }
}
