@import "../../../styles/mixins";
@import "../../../styles/variables.scss";
.subject-detail {
  display: flex;
  justify-content: center;
  &_form {
    width: 960px;
    height: fit-content;
    padding: 32px 52px 32px 52px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    background: #ffffff;
    margin-top: 32px;
    border-radius: 24px;
    @include sm {
      width: 100%;
      box-shadow: none !important;
    }
    &-header {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;
      color: #231f20;
    }
    &-sub {
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: #646464;
    }
    &-name {
      color: black;
      font-size: 14px;
      font-weight: 400;
    }
    &-edit {
      background-color: $primary_color;
      color: $white_color;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &_row {
    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #161617;
    }
    .point{
      @include sm{
        min-height: fit-content;
        min-width: 100px
      }
    }
    .form__input {
      .ant-row {
        width: 100% !important;
        .ant-col-14 {
          max-width: 100% !important;
          input {
            border: 1px solid $gray_blur_color;
          }
        }
      }
    }
  }
}
