.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_image {
      width: 324px !important;
      height: 140px !important;
    }
    &_title {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      margin: 0px !important;
      margin-top: 16px !important;
    }
  }
  &_form {
    width: 540px;
    height: 658px;
    border-radius: 20px;
    margin-top: 24px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    &-wrap {
      padding: 32px 58px 32px 58px;
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-content {
        color: #3b82f6;
        width: 390px;
        height: 48px;
        font-family: Open Sans;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        margin: 0px !important;
      }
    }

    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      margin: 0px !important;
      margin-top: 32px !important;
    }
    &-input {
      input {
        width: 424px;
        height: 48px;
        padding: 12px 203px 12px 20px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
      }
      .ant-input-affix-wrapper {
        width: 424px;
        height: 48px;
        padding: 12px 203px 12px 20px;
        gap: 0px;
        border-radius: 8px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        margin-top: 8px;
        border: 1px solid #c7c7c7;
        input {
          margin: 0 !important;
        }
      }
    }

    &-login {
      margin-top: 32px;
      border-radius: 8px;

      &-button {
        background: #3b82f6 !important;
        border: #3b82f6 !important;
        width: 424px;
        height: 48px;
        span {
          color: #ffffff !important;
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    &-privacy {
      width: 424px;
      height: 48px;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #343434;
      margin-top: 32px;
      margin-bottom: 0px !important;
    }
    &-submit {
      margin-top: 24px;
      .ant-checkbox-inner {
        width: 20px;
        height: 20px;
        border: 1px solid #858792;
      }
      span {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #646464;
      }
    }
    &-signIn {
      margin-top: 64px;
      border-radius: 8px;
      &-button {
        width: 424px;
        height: 48px;
        background-color: #ffffff !important;
        border: 1px solid #eef0f4 !important;
        span {
          font-family: Open Sans;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          color: #343434 !important;
        }
      }
    }
  }
}
