@import '../../../styles/variables';
@import '../../../styles/mixins';

.radio__custom {
  &-radio {
    .ant-form-item-label {
      height: 30px !important;
      font-size: 16px;
      line-height: 21px;

      label {
        display: flex;
        float: left;
        color: $text_title_color;
      }
    }

    .ant-radio {
      .ant-radio-inner {
        background-color: $white-color;
        border-width: 2px;

        &::after {
          background-color: $primary_color;
          transform: scale(0.5);
        }
      }
    }

    .ant-radio-wrapper {
      span {
        color: $text_checkbox_color !important;

        &.ant-radio {
          height: 16px;
        }

        &:last-child {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;

          padding-right: 0;
          display: flex;
          @include sm {
            font-size: 14px;
          }
        }
      }

      &-checked {
        span {
          &:last-child {
            font-size: 14px;
            font-style: normal;
            line-height: 130%;
            @include sm {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
