.provider-list-container {
    padding: 20px;
  
    .provider-list-header {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      .title {
        font-size: 26px;
        font-weight: bold;
      }
    }
  
    .provider-list-actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .left-actions {
        .btn-create,
        .btn-refresh {
          padding: 8px 16px;
          margin-right: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
  
        // .btn-create {
        //   background-color: #1890ff;
        //   color: white;
        // }
  
        .btn-refresh {
          background-color: transparent;
          border: #2c7be5 1px solid;
          color: #2c7be5;
        }
        
        .btn-refresh:hover {
          background-color: #2569c3;
          color: #fff;
        }
      }
  
      .right-actions {
        display: flex;
        align-items: center;
  
        .search-input {
          padding: 8px;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          margin-right: 10px;
          width: 25%;
        }
  
        .btn-search {
          background-color: #ddd;
        }
        
        .btn-search:hover {
          background-color: #ccc;
        }
        
      }
    }
  }
