.home {
  padding: 0px 120px !important;
  &-header {
    .image-carousel {
      width: 100% !important;
      height: 224px;
      &_item {
        width: 100% !important;
      }
      .slick-list {
        max-height: 224px !important;
        .slick-track {
          max-height: 224px !important;
          height: 224px !important;
        }
      }
    }
    .slick-slide {
      width: fit-content !important;
    }
  }
  &-list {
    &_header {
      &-title {
        font-family: "Roboto", sans-serif;
        font-size: 34px;
        font-weight: bold;
        color: #ffffff; // Màu chữ trắng để nổi bật trên nền tối
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        letter-spacing: 1.2px;
        margin-top: 32px;
        text-transform: uppercase;
        background: linear-gradient(
          135deg,
          #09011d 0%,
          #1a3f8b 50%,
          #2774f9 100%
        );
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:hover {
          background: linear-gradient(
            135deg,
            #2774f9 0%,
            #1a3f8b 50%,
            #09011d 100%
          );
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      column-gap: 25px;
      row-gap: 15px;

      &-item {
        width: 300px !important;
        height: 500px !important;
        max-width: 300px !important;
        position: relative;

        .product-image {
          max-width: 150px !important;
          max-height: 150px !important;
        }
        .product-button {
          position: absolute;
          bottom: 10px;
          left: 0px;
          width: 100% !important;
        }
      }
    }
    .ant-pagination {
      display: flex !important;
      justify-content: flex-end;
      margin-top: 12px !important;
      a {
        font-family: Verdana;
      }
    }
  }
}
