@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.list-tuition {
  &_header {
    width: 100%;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include sm {
      flex-direction: column;
      align-items: flex-end;
    }
    &-title {
      width: 100%;
      height: fit-content;
      padding: 8px;
      font-size: 24px;
      font-weight: 600;
      line-height: 22px;
      color: $black_color;
      margin-bottom: 0 !important;
    }
    &-sub {
      width: 100%;
      height: fit-content;
      padding: 5px;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $gray_blur_color;
      margin-bottom: 0 !important;
    }
    &-button {
      &-addTuition {
        width: 150px;
        border-radius: 0px !important;
        background-color: #3b82f6 !important;
        span {
          font-weight: 600;
          color: white !important;
        }
      }
    }
  }
  &_underLine {
    border-bottom: 1px solid $gray_blur_color;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  &_content {
    &-table {
      border: 1px solid $gray_blur_color;
      border-top: none;
      overflow: hidden;
      border-bottom: none !important;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      @include sm {
        max-width: 1800px !important;
        border: 1px solid $gray_blur_color;
      }
      .ant-table-content {
        border: none !important;
        .ant-table-thead {
          .ant-table-cell {
            border-bottom: 1px solid $gray_blur_color;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color: #3b82f6;
            background-color: $empty_avatar_color !important;
            .ant-table-filter-column {
              .ant-table-filter-trigger {
                svg {
                  width: 16px;
                  height: 16px;
                  color: $primary_color;
                }
              }
            }

            &:first-child {
              .ant-table-selection {
                padding-left: 3px;
              }
              &::after {
                display: none !important;
              }
            }
            &:last-child::after {
              display: none !important;
            }
          }
        }
        .ant-table-tbody {
          .ant-table-cell {
            border-bottom: 1px solid $gray_blur_color;
            vertical-align: middle !important;
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              text-align: left;
              color: #343434;
              margin-bottom: 0 !important;
            }
          }
        }
      }
      .custom-pagination {
        height: 36px;
        border-bottom: 1px solid $gray_blur_color;
      }
    }
  }
  &_sidebar {
    display: inline-block;
    width: 100%;
    border: 1px solid $gray_blur_color !important;
    padding: 12px 24px 12px 24px;
    overflow: auto hidden;
    vertical-align: middle !important;
    background-color: $white_color;
    display: inline-block;
    box-shadow: none;
    &-scroll {
      position: relative;
      display: flex;
      justify-content: flex-end;
      @include sm {
        width: 1200px;
        max-width: 1400px !important;
      }
      @include lg {
        width: 1200px;
        max-width: 1400px !important;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &-colRight {
      display: inline;
      height: fit-content;
      width: fit-content;
      &-formSearch {
        display: flex;
        justify-content: end;
        align-items: center;
        &-input {
          margin-right: 0 !important;
          width: 210px;
          height: 100% !important ;
          .ant-form-item-control-input-content {
            height: 100% !important ;
            .ant-input {
              width: 100%;
              height: 100% !important;
              border: 1px solid $gray_blur_color;
              border-radius: 0 !important;
              &::placeholder {
                font-size: 16px;
                font-weight: 400;
                color: $gray_blur_color;
              }
            }
          }
        }
        &-button {
          .ant-btn {
            width: 32px !important;
            height: 32px !important;
            border-radius: 0 !important;
            background-color: $gray_blur_color !important;
            border: 1px solid $gray_blur_color;
            span {
              svg {
                path {
                  stroke: $white_color;
                }
              }
            }
          }
        }
      }
    }
    &-button {
      display: flex;
      float: right;
      margin: 10px;
      .ant-btn {
        width: fit-content;
        height: 30px;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
      }
    }
  }
  &_data {
    &-sum {
      font-weight: 600 !important;
    }
    &-tuitionState {
      width: fit-content;
      min-width: 120px;
      height: 20px;
      padding: 15px;
      background-color: $empty_avatar_color !important;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-style: 16px;
    }
    &-tuitionOption {
      width: 120px;
      height: 40px;
      color: white;
      background-color: #3b82f6;
      font-weight: 600;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  &_row {
    &-label {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #161617;
    }
  }
  &_modal {
    &-add {
      width: 1200px !important;
      height: fit-content;
      .ant-modal-content {
        input {
          border: 1px solid $gray_blur_color !important;
        }
        .ant-row {
          .ant-col-14 {
            max-width: 100%;
          }
        }
      }
      .form__select {
        .ant-form-item {
          .ant-row {
            width: 100% !important;
            .ant-col-14 {
              max-width: 100% !important;
              .ant-select-selector {
                border: 1px solid $gray_blur_color !important;
              }
            }
          }
        }
      }
      &-table {
        border: 1px solid $gray_blur_color;
        overflow: hidden;
        border-bottom: none !important;
        margin-bottom: 24px;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        @include sm {
          max-width: 1800px !important;
        }
        .ant-table-content {
          border: none !important;
          .ant-table-thead {
            .ant-table-cell {
              border-bottom: 1px solid $gray_blur_color;
              font-family: Open Sans;
              font-size: 14px;
              font-weight: 600;
              line-height: 22px;
              text-align: left;
              color: #3b82f6;
              background-color: $empty_avatar_color !important;
              .ant-table-filter-column {
                .ant-table-filter-trigger {
                  svg {
                    width: 16px;
                    height: 16px;
                    color: $primary_color;
                  }
                }
              }

              &:first-child {
                .ant-table-selection {
                  padding-left: 3px;
                }
                &::after {
                  display: none !important;
                }
              }
              &:last-child::after {
                display: none !important;
              }
            }
          }
          .ant-table-tbody {
            .ant-table-cell {
              border-bottom: 1px solid $gray_blur_color;
              vertical-align: middle !important;
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                color: #343434;
                margin-bottom: 0 !important;
              }
            }
          }
        }
        .custom-pagination {
          height: 36px;
          border-bottom: 1px solid $gray_blur_color;
        }
      }
    }
    &-edit {
      width: 1200px !important;
      height: fit-content;
      .ant-modal-content {
        input {
          border: 1px solid $gray_blur_color !important;
        }
        .ant-row {
          .ant-col-14 {
            max-width: 100%;
          }
        }
      }
      .form__select {
        .ant-form-item {
          .ant-row {
            width: 100% !important;
            .ant-col-14 {
              max-width: 100% !important;
              .ant-select-selector {
                border: 1px solid $gray_blur_color !important;
              }
            }
          }
        }
      }
    }
  }
  &_footer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: end;
    @include sm {
      flex-direction: column;
    }
    &-excel {
      margin-left: 10px;
      background-color: $success_color;
      color: $white_color;
      font-weight: 600;
      font-style: 24px;
      @include sm {
        margin-right: 0px !important;
      }
    }
    &-edit {
      background-color: $primary_color !important;
      color: $white_color !important;
      font-weight: 600;
      font-size: 16px;
      @include sm {
        margin-bottom: 12px !important;
      }
    }
    &-delete {
      background-color: red;
      color: white;
      font-weight: 600;
      @include sm {
        margin: 0px 5px 0px 5px !important;
      }
    }
    &-editTable {
      background-color: rgb(0, 217, 255);
      color: white;
      font-weight: 600;
      @include sm {
        margin: 0px 5px 0px 5px !important;
      }
    }
    &-save {
      background-color: $primary_color;
      color: white;
      font-weight: 600;
      @include sm {
        margin: 24px 0px 0px 5px !important;
      }
    }
    &-print {
      font-weight: 600;
      color: white;
      font-size: 16px;
      background-color: orange;
    }
    .w-100 {
      @include sm {
        width: 100%;
      }
    }
    &-row {
      width: 100%;
      display: flex;
      justify-content: end;
      .ant-btn {
        margin: 0px 5px;
        @include sm {
          width: 100px;
          font-size: 14px;
        }
      }
    }
    .ant-btn {
      margin: 0px 5px;
      @include sm {
        font-size: 14px;
      }
    }
    .option {
      display: flex;
      justify-content: center;
    }
  }
}

.ant-modal-content {
  .ant-modal-body {
    h1 {
      font-weight: 600 !important;
    }
  }
  .ant-modal-footer {
    .ant-btn {
      width: fit-content !important;
      min-width: 140px;
      height: 40px;
      padding: 15px;
      span {
        font-size: 14px;
        font-weight: 600;
      }
      &-default {
        border: 1px solid $gray_blur_color !important;
      }
    }
  }
}
