@import '../../../styles/variables';

.form__select-search {
  .ant-select {
    height: 30px;

    .ant-select-selector {
      height: 30px;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid $border_color;
      box-shadow: unset !important;
      background: $white_color;

      &:focus-within {
        border-color: $primary_color !important;
      }
    }
  }

  .ant-select-selection-search-input {
    height: 30px;
  }

  .ant-select-selection-item {
    line-height: 1.4;
    font-size: 14px;
    color: $gray_blur_color;
  }

  .ant-select-selection-placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $gray_blur_color;
  }

  .ant-form-item-required {
    flex-direction: row-reverse;
    margin-left: -10px !important;

    &::before {
      margin-right: 0;
      margin-left: 5px;
    }

    &::after {
      position: unset !important;
      content: '' !important;
    }
  }

  .ant-form-item-has-error {
    .ant-select-selector {
      border: 1px solid $error_color !important;
    }
  }

  .ant-form-item-label {
    height: 30px !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    label {
      font-size: 14px !important;
      display: flex;
      float: left;
      font-weight: 600;
      color: $text_title_color;

      &:after {
        content: none;
      }
    }
  }

  // multiple
  .ant-select-multiple {
    .ant-select-selector {
      padding: 8px 12px;

      .ant-select-selection-overflow {
        height: auto;
        // margin-top: -5px;

        margin-top: -4px;
      }

      .ant-select-selection-search-input {
        height: 22px !important;
      }

      .ant-select-selection-search {
        margin-left: 0 !important;
      }
    }

    .ant-select-selection-item {
      margin-top: 0 !important;
      background-color: #e9f5fd;
      margin-bottom: 0;
      color: $text_title_color;
    }

    .ant-checkbox-wrapper {
      display: none;
    }

    .ant-select-selection-item-content {
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    .ant-select-selection-item-remove {
      svg {
        path {
          fill: #292f33;
        }
      }
    }
  }

  &-disabled {
    .ant-select-selection-item {
      color: $disable_color;
    }
  }
}

.form__select {
  &-select-popup-select {
    .rc-virtual-list-scrollbar-thumb {
      background-color: #00297a !important;
      width: 4px !important;
    }

    .rc-virtual-list-scrollbar {
      display: block !important;
    }
  }
}
