.add-shipment-page {
  padding: 24px;
}

.add-product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff; 
  color: black; 
  font-size: 16px; 
  padding: 0; 
  transition: all 0.3s ease;
  border-radius: 4px; 
  width: 28px;
  height: 28px;

  &:hover {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.4); 
    background-color: #e6f7ff; 
    color: #40a9ff; 
  }

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 3px rgba(24, 144, 255, 0.5); 
  // }

  .anticon {
    font-size: 16px; 
  }
}