.discipline-reward {
  .ant-anchor-link {
    font-weight: 800;
    font-size: 24px;
    margin: 5px 8px;
    padding: 12px 24px !important;
    background-color: white;
  }
}

// .discipline-reward_content {
//   overflow-y: auto;
//   max-height: 100vh;
// }

html {
  scroll-behavior: smooth;
}
